body{
    background: url(kepek/Image\ 1.png);
    background-color: black;
    background-size: cover;
}
h1{
    font-size: 80px;
    font-style: italic;
    color: white;
}
#kamera{
    width: 16%;
}
#eleje{
    text-align: center;
    padding-bottom: 5%;
}
#fokep{
    text-align: center;
}
#profilkep{
    width: 15%;
    padding-bottom: 8%;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url('https://use.fontawesome.com/releases/v6.5.2/css/all.css');

:root {
  --small-font-size: 1rem;
  --normal-font-size: 1.3rem;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.login {
  position: relative;
  overflow: hidden;
  color: white;
  font-family: 'Poppins';
  width: 80%;
  display: block;
  margin: auto;
  justify-content: center;
  align-items: center;
}

form {
  position: relative;
  background-color: #1a1a1a1a;
  border: 2px solid #ffffff;
  padding: 2.5rem 1.5rem;
  border-radius: 1rem;
  backdrop-filter: blur(8px);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#login {
  font-size: 3rem;
  text-align: center;
  margin: 0;
}

.input-field {
  position: relative;
}

i {
  font-size: 1.25rem;
  position: absolute;
}

.input-field input {
  width: 100%;
  padding: 12px 0;
  background: none;
  color: white;
  border: none;
  font-size: var(--normal-font-size);
  border-bottom: 1px solid #fff;
  padding-left: 25px;
  box-sizing: border-box;
  position: relative;
  inset: 0;
  outline: none;
  z-index: 1;
}

.input-field label {
  position: absolute;
  left: 25px;
  top: 9px;
  font-size: var(--normal-font-size);
  transition: top .3s, font-size .3s;
}

.input-field i {
  top: 13px;
}

.input-field i.eye {
  right: 0px;
}

input:focus + label,
.input-field input:not(:placeholder-shown) + label {
  top: -15px;
  font-size: var(--small-font-size);
}

.check-group,
.check-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--small-font-size);
}

a {
  color: white;
  text-decoration: none;
}

button {
  width: 100%;
  padding: 1rem;
  border-radius: .5rem;
  background-color: white;
  color: black;
  font-size: var(--normal-font-size);
  cursor: pointer;
  border: none;
}

p {
  text-align: center;
}