body{
    background: url(kepek/Image\ 1.png);
    background-color: black;
    background-size: cover;
}
h1{
    font-size: 80px;
    font-style: italic;
    color: white;
}
#kamera{
    width: 16%;
}
#eleje{
    text-align: center;
    padding-bottom: 9%;
}
#fokep{
    text-align: center;
}
#profilkep{
    width: 15%;
    padding-bottom: 8%;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
  
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
  
button:hover {
    opacity: 0.8;
}
  
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}
  
.container {
    padding: 16px;
}

.szo{
    color: white;
    font-size: x-large;
}
#belepo{
    margin: auto;
    width: 70%;
    background-color: rgba(50, 50, 50, 0.90);
}
#belepogomb{
    font-size: larger;
}
