body{
    height: 3500px;
  background-color: purple; /* Olyan beállítás, amely csak akkor aktív, ha a böngésző nem támogatja a linear beállítást */
  background-image: linear-gradient(rgb(63 0 152), rgb(43 0 88), rgb(57 0 63));
}
/* navbar, menü */
.mobile-container {
  max-width: 105%;
  position: absolute;
  list-style-type: none;
  margin: -0.8%;
  margin-top: 0.1%;
  padding: 0;
  width: 100%;
  overflow: hidden;
  background-color: linear-gradient(rgba(40, 0, 159, 0.95), rgba(41, 1, 98, 0.90), rgba(26, 0, 58, 0.95));
  position: fixed;
  top: 0;
}
#fimwikilogo{
  width: 80px;
  height: 60px;
}
#ham{
  display: none;
}
#myLinks{
  float: right;
  position: relative;
  bottom: 20%;
  transform: translateY(-235%);
}
.active{
  background-image: linear-gradient(rgba(40, 0, 159, 0.95), rgba(41, 1, 98, 0.90), rgba(26, 0, 58, 0.95));
  color: white;
  display: block;
}
#informaciok{
  padding-top: 20%;
  padding-left: 6%;
  padding-right: 6%;
}
/* Slideshow konténer */
.slideshow-container {
  max-width: 85%;
  height: 540px;
  position: relative;
  margin-top: 7%;
  margin-left: 1%;
}
/* körök és indikátorok */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  margin-top: 3%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active{
  background-color: #717171;
}
/* Előtűnős animáció */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
#filmekdiv{
  color: rgb(252, 186, 3);
  font-size: 20px;
  margin-left: 1%;
  margin-top: 2%;
}
#legnezfilm{
  color: rgb(252, 186, 3);
  margin-left: 1%;
  margin-top: 38%;
  font-size: 20px;
}
#sorozatok{
  color: rgb(252, 186, 3);
  margin-left: 1%;
  margin-top: 36%;
  font-size: 20px;
  height: 12px;
}
/* Scroll Menu konténer */
.scroll-container {
  position: relative;
  width: 73%;
  margin: auto;
  float: left;
  overflow: hidden;
  background-color: rgba(26, 0, 58, 0.555);
  padding: 10px 0;
  margin-left: 1%;
  margin-top: 1%;
}
.scroll-containersor {
  position: relative;
  width: 73%;
  margin: auto;
  float: left;
  overflow: hidden;
  background-color: rgba(26, 0, 58, 0.555);
  padding: 10px 0;
  margin-left: 1%;
  margin-top: 7%;
}
/* Scroll Menu */
.scrollmenu {
  display: flex;
  white-space: nowrap;
  scroll-behavior: smooth;
  overflow-x: hidden;  /* Elrejti a görgetősávot */
  scrollbar-width: none;  /* Firefoxhoz */
}
/* Scrollmenu elrejtése */
.scrollmenu::-webkit-scrollbar {
  display: none;
}
.scrollmenu a {
  display: inline-block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
.scrollmenu img {
  height: 300px;
  margin-right: 10px;
}
/* Navigációs nyílak */
.scroll-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 24px;
  z-index: 100;
  display: none; /* Hidden by default */
}
.scroll-left {
  left: 0;
}
.scroll-right {
  right: 0;
}
.scroll-arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/*Heti top*/
.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(11, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  float: right;
  width: 24%;
  height: 24%;
  background-color: rgba(26, 0, 58, 0.95);
  margin-right: 0.5%;
  margin-top: 1%;
  color: white;
  }
  .div1 { grid-area: 1 / 1 / 2 / 3; }
  .div2 { grid-area: 2 / 1 / 3 / 2; }
  .div3 { grid-area: 3 / 1 / 4 / 2; }
  .div4 { grid-area: 4 / 1 / 5 / 2; }
  .div5 { grid-area: 5 / 1 / 6 / 2; }
  .div6 { grid-area: 6 / 1 / 7 / 2; }
  .div7 { grid-area: 7 / 1 / 8 / 2; }
  .div8 { grid-area: 8 / 1 / 9 / 2; }
  .div9 { grid-area: 9 / 1 / 10 / 2; }
  .div10 { grid-area: 10 / 1 / 11 / 2; }
  .div11 { grid-area: 11 / 1 / 12 / 2; }
  .div12 { grid-area: 2 / 2 / 3 / 3; }
  .div13 { grid-area: 3 / 2 / 4 / 3; }
  .div14 { grid-area: 4 / 2 / 5 / 3; }
  .div15 { grid-area: 5 / 2 / 6 / 3; }
  .div16 { grid-area: 6 / 2 / 7 / 3; }
  .div17 { grid-area: 7 / 2 / 8 / 3; }
  .div18 { grid-area: 8 / 2 / 9 / 3; }
  .div19 { grid-area: 9 / 2 / 10 / 3; }
  .div20 { grid-area: 10 / 2 / 11 / 3; }
  .div21 { grid-area: 11 / 2 / 12 / 3; }
  /*Havi top*/
  .parenthav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(11, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    float: right;
    width: 24%;
    height: 24%;
    margin-top: 3%;
    background-color: rgba(26, 0, 58, 0.95);
    margin-right: 0.5%;
    color: white;
    }
    .div1 { grid-area: 1 / 1 / 2 / 3; }
    .div2 { grid-area: 2 / 1 / 3 / 2; }
    .div3 { grid-area: 3 / 1 / 4 / 2; }
    .div4 { grid-area: 4 / 1 / 5 / 2; }
    .div5 { grid-area: 5 / 1 / 6 / 2; }
    .div6 { grid-area: 6 / 1 / 7 / 2; }
    .div7 { grid-area: 7 / 1 / 8 / 2; }
    .div8 { grid-area: 8 / 1 / 9 / 2; }
    .div9 { grid-area: 9 / 1 / 10 / 2; }
    .div10 { grid-area: 10 / 1 / 11 / 2; }
    .div11 { grid-area: 11 / 1 / 12 / 2; }
    .div12 { grid-area: 2 / 2 / 3 / 3; }
    .div13 { grid-area: 3 / 2 / 4 / 3; }
    .div14 { grid-area: 4 / 2 / 5 / 3; }
    .div15 { grid-area: 5 / 2 / 6 / 3; }
    .div16 { grid-area: 6 / 2 / 7 / 3; }
    .div17 { grid-area: 7 / 2 / 8 / 3; }
    .div18 { grid-area: 8 / 2 / 9 / 3; }
    .div19 { grid-area: 9 / 2 / 10 / 3; }
    .div20 { grid-area: 10 / 2 / 11 / 3; }
    .div21 { grid-area: 11 / 2 / 12 / 3; }
    /*Színész vélemények grid*/
    .parentszinvelemeny {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      float: left;
      margin-top: 15%;
      width: 40%;
      height: 500px;
      margin-left: 8%;
      background-color: rgb(26, 0, 58);
      }
      .div1a { grid-area: 1 / 1 / 2 / 3; 
                height: 40px;}
      .div2a { grid-area: 2 / 1 / 3 / 2;
                margin-top: -20%;
                }
      .div3a { grid-area: 3 / 1 / 4 / 2; }
      .div4a { grid-area: 2 / 2 / 3 / 3; }
      .div5a { grid-area: 3 / 2 / 4 / 3; }
      /*Vélemények grid*/
        .parentvelemeny {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(7, 1fr);
          grid-column-gap: 0px;
          grid-row-gap: 0px;
          float: right;
          width: 40%;
          height: 500px;
          margin-right: 8%;
          margin-top: 14%;
          background-color: rgb(26, 0, 58);
          }
          
          .div1b { grid-area: 1 / 1 / 2 / 3; }
          .div2b { grid-area: 2 / 1 / 3 / 2; }
          .div3b { grid-area: 2 / 2 / 3 / 3; }
          .div4b { grid-area: 3 / 1 / 4 / 3; }
          .div5b { grid-area: 4 / 1 / 5 / 2; }
          .div6b { grid-area: 4 / 2 / 5 / 3; }
          .div7b { grid-area: 5 / 1 / 6 / 3; }
          .div8b { grid-area: 6 / 1 / 7 / 2; }
          .div9b { grid-area: 6 / 2 / 7 / 3; }
          .div10b { grid-area: 7 / 1 / 8 / 3; }
        #kep1{
          float: left;
          height: 150px;
          width: 50%;
          padding-left: 15%;
        margin-top: 2%;}
        #kep2{
          float: left;
          height: 160px;
          width: 50%;
          padding-left: 15%;
        padding-top: -5%;
        }
        #kepszoveg1{
          margin-top: 75%;
          color:white;
          margin-left: 15%;
        }
        #kepszoveg2{
          color:white;
          margin-left: 8%;
        }
  /* Szöveg,vélemények */
  .h6cimek{
    color: white;
    font-size: 16px;
    margin-top: 6%;
    margin-left: 6%;
  }
  .h8cimek{
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  /* Közösségi vélemény képek */
  .kepekvel{
    margin-left: 8%;
  }
  /* Lábléc */
  .parentlab {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-top: 100%;
    border: white solid 1px;
    background-color: black;
    }
    .div1lab { grid-area: 1 / 1 / 2 / 2; }
    .div2lab { grid-area: 2 / 1 / 3 / 2; }
    .div3lab { grid-area: 3 / 1 / 4 / 2; }
    .div4lab { grid-area: 1 / 2 / 2 / 3; }
    .div5lab { grid-area: 2 / 2 / 3 / 3; }
    .div6lab { grid-area: 3 / 2 / 4 / 3; }
  /*Média queri*/
  @media (max-width: 576px) {
    .topnav {
      overflow: hidden;
      background-color: #333;
      position: relative;
    }
    .topnav #myLinks {
      display: none;
      background-color: linear-gradient(rgba(40, 0, 159, 0.95), rgba(41, 1, 98, 0.90), rgba(26, 0, 58, 0.95));
      text-decoration: none;
      color: white;
    }
    .topnav a {
      display: block;
    }
    #myLinks{
      transform: none;
    }
    #menu{
      background-color: rgba(40, 0, 159, 0.95);
      text-align: center;
      width: 100%;
    }
    #myLinks{
      float: none;
    }
    .topnav a.icon {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      padding-right: 3%;
      padding-top: 3%;
    }
    #ham{
      width: 60px;
      height: 60px;
      display: inline;
    }
    .active {
      background-image: linear-gradient(rgba(40, 0, 159, 0.95), rgba(41, 1, 98, 0.90), rgba(26, 0, 58, 0.95));
      color: white;
    }
    .container {
      display: inline-block;
      cursor: pointer;
    }
    .bar1, .bar2, .bar3 {
      width: 35px;
      height: 5px;
      background-color: white;
      margin: 6px 0;
      transition: 0.4s;
    }
    .change .bar1 {
      transform: translate(0, 11px) rotate(-45deg);
    }
    .change .bar2 {opacity: 0;} 
    .change .bar3 {
      transform: translate(0, -11px) rotate(45deg);
    }
  }
  