body{
  height: 100%;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(rgb(63 0 152), rgb(43 0 88), rgb(57 0 63));
}


  .active {
    padding: 1%;
    cursor: pointer;
  }

  #informaciok{
    padding-top: 20%;
    padding-left: 6%;
    padding-right: 6%;
  }
  #fokep{
    float: left;
    width: 50%;
    height: 80%;
  }
  #kep{
    width: 60%;
    height: 70%;
    padding-top: 90px;
  }
  #menu:hover{
    background-color: #333; 
  }

.container {
    display: flex;
    max-width: 1000px;
    margin: auto 0;
    padding: 10%;
    padding-right: 13%;
}
.left-column {
    width: 40%;
    padding-right: 20px;
    padding-top: 3%;
}
.film-image {
    width: 100%;

}
.extra-images {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.extra-images img {
    width: 48%;
    border-radius: 5px;
}
.links {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.links a {
    text-decoration: none;
    background: rgba(7, 13, 53, 0.50);
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    flex: 1;
    margin: 0 5px;
}
.right-column {
    width: 60%;
}
h1 {
    margin-bottom: 10px;
}
.info-boxes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.info-boxes p{
  font-size: x-large;
}
#megtekintes{
  font-size: 40px;
}
#kamera{
  width: 25%;
}
.info-box {
    background: rgba(7, 13, 53, 0.50);
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    flex: 1;
    margin: 0 5px;
}
.genre-box {
    background: rgba(7, 13, 53, 0.50);
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
}
.description {
    font-size: 16px;
    line-height: 1.5;
    font-size: 20px;
}
#kep1{
  width: 30%;
}
#kep2{
  width: 68%;
}
#start{
  width: 20%; 
}
.images1{
  display: none;
}
.description1{
  display: none;
}
ul, #myUL {
  list-style-type: none;
}

#myUL {
  margin: 0;
  padding: 0;
}

.box {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.box::before {
  content: "\2610";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.check-box::before {
  content: "\2611"; 
  color: dodgerblue;
}

.nested {
  display: none;
}

  @media (max-width: 800px) {
    .container {
        flex-direction: row;
        align-items: flex-start;
    }
    .left-column {
        width: 60%;
        padding-right: 20px;
    }
    .right-column {
        width: 35%;
    }
    .info-boxes {
        flex-direction: column;
        align-items: flex-start;
    }
    .info-box {
        margin: 5px 0;
        width: 100%;
    }
    .genre-box {
        width: 100%;
    }
    .images {
        display: none;
    }
    .images1{
      display: flex;
      margin: auto;
      padding-left: 15%;
    }
    #kep1{
      width: 40%;
      height: 90%;
    }
    #kep2{
      width: 80%;
    }
    .description{
      display: none;
    }
    .description1{
      display: inline;
      line-height: 1.5;
      font-size: 20px;
    }
    #szelesseg{
      padding-left: 5%;
      padding-right: 5%;
    }
    .film-image {
      width: 103%;
      padding-top: 35%;
    }
    #kamera{
      width: 50%;
    }
    
}

@media (max-width: 576px) {

  .film-image {
    padding-top: 5%;
  }
  .container {
    flex-direction: column;
    align-items: center;
  }
  .left-column, .right-column {
    width: 100%;
    padding: 0;
  }
  .info-boxes {
    flex-direction: column;
    align-items: center;
  }
  .info-box {
    margin: 5px 0;
    width: 80%;
  }
  .links {
    display: none;
  }
  #kamera{
    width: 25%;
  }
  .description1{
    display: inline;
    font-size: 16px;
    line-height: 1.5;
  }
}

.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font: inherit;
  margin: 0; 
}
